p
{ 
color: red;
font-size: 22pt;
}
  
p#gruby_bojko
{
color: green;
font-size: 17pt;
font-weight: bold;
}

#dlawszystkich_bojko
{
color: yellow;
font-size: 10pt;
font-family: arial;
}
