#div1 {
	background-color: #FFFDD0;
	width: 100%;
	height: 40%;
}
p {
	font-size: 20pt;
	font-style: arial;
}
#div2 {
	background-color: #FF0090;
	width: 80%;
	height: 15%;
}
#div3 {
	background-color: #C0D727;
	width: 100%;
	height: 30%;
}
